:root{
    box-sizing: border-box;
    background-color: #000;
}

*, ::before, ::after{
    box-sizing: inherit;
}

body{
    margin: 0 auto;
}

.menu ul li{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
    color: #fff;
    list-style: none;
}

.menu ul{
    display: flex;
    justify-content: space-between;
    padding: 0 5em;
    height: 2.5em;
}

.logo{
    position: relative;
    height: 250%;
    top: 14%;
}

.banner-img{
    background: url(img/concierto.jpg);
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-img h1{
    font-family: 'Monoton', cursive;
    font-weight: 400;
    color: #fff;
    font-size: 13em;
    margin-bottom: 0;
}

.banner-img p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff; 
    font-size: 2em;
}

.banner-img i{
    color: #fff; 
    font-size: 5em;
}

.container-cajas{
    background-color: #fff;
    height: 100%;
    display: grid;
    align-content: center;
    grid-template-columns: repeat(3,33.33%);
    grid-template-rows: repeat(2,50%);
}

.cajas{
    height: 170vh;
}

.caja{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
    border-radius: 15px;
}

.img-caja1{
    background: url(img/feauture1.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 40%;
}
.img-caja2{
    background: url(img/feauture2.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 40%;
}
.img-caja3{
    background: url(img/feauture3.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 40%;
}
.img-caja4{
    background: url(img/feauture4.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 40%;
}
.img-caja5{
    background: url(img/feauture5.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 40%;
}
.img-caja6{
    background: url(img/feauture6.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    width: 100%;
    height: 40%;
}



.texto-caja{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.texto-caja h2{
    color: #612e1d;
    font-size: 2em;
}
.texto-caja p{
    font-size: 1.2em;
}

.boton-caja{
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    height: 6%;
    font-size: 1.2em;
    background-color: orange;
    width: 70%;
    border: none;
    border-radius: 5px;
}

.boton-form{
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    margin-top: 3em;
    height: 7%;
    font-size: 1.2em;
    background-color: orange;
    width: 100%;
    border: none;
    border-radius: 5px;
}


.formulario{
    height: 80vh;
}

.form{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5em;
}

.container-form{
    width: 100%;
    height: 100%;
    background: url(img/contacus.jpg);
    background-size: cover;
    background-position: top;
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 50%;
}

.input{
    border-radius: 10px;
    line-height: 2em;
}

.input::placeholder{
    padding-left: 1em;
}

.textarea{
    height: 15em;
    border-radius: 10px;
}

.textarea::placeholder{
    padding-left: 1em;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.335);
    width: 95%;
    height: 90%;
    border-radius: 10px;
    margin-top: 5%;
}

.text-overlay{
    width: 80%;
    height: 100%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
    margin: 0 auto;
    padding-top: 2em;
}

.container-fot{
    display: grid;
    grid-template-columns: 50% 50%;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: #fff;
}

.container-fot ul{
    list-style: none;
}

.container-fot div{
    padding-left: 2em;
}

@media only screen and (max-width: 1000px) {
  .menu ul{
      flex-direction: column;
      align-items: center;
      height: 50%;
  }

  .menu ul li{
      padding: 1em;
  }

  .logo{
      display: none;
  }

  .banner-img h1{
      font-size: 7em;
  }

  .container-fot{
      grid-template-columns: 50%;
  }
}